@font-face {
    font-family: 'Newborough';
    src: url('./fonts/Newborough.woff2') format('woff2'),
        url('./fonts/Newborough.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Th';
    src: url('./fonts/Roboto-Thin.woff2') format('woff2'),
        url('./fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'BlackChancery';
    src: url('./fonts/BlackChancery.woff2') format('woff2'),
        url('./fonts/BlackChancery.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2'),
        url('./fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed Light";
  src: url("./fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("./fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
	font-family: Roboto Th;
	color: whitesmoke;
	background-color: #1c1b18;
  height: 100%;
  margin: 0;
  padding: 0;

}
