@font-face {
    font-family: 'Newborough';
    src: url('./fonts/Newborough.woff2') format('woff2'),
        url('./fonts/Newborough.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
        url('./fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Th';
    src: url('./fonts/Roboto-Thin.woff2') format('woff2'),
        url('./fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}









body {
	font-family: Roboto Th;
	color: whitesmoke;
	background-color: #1c1b18;
  height: 100%;
  margin: 0;
  padding: 0;
/*  background-image: url("./img/bg-footer.jpg");
  background-repeat: repeat;
  background-size: cover;*/

}

h1 {
	font-size: 5rem;
  /*font-size:5vw;*/
	font-family: Newborough;
	/*margin-bottom: -20px;*/
	/*text-shadow: 3px 3px #1c1c1c;*/
	text-shadow: 3px 3px 13px #1c1c1c;
}

h2 {
	font-weight: 300;
}
.roboto {
  font-family: Roboto;
}


/*# header*/
.headerBox {
	margin:70%;
  /*padding-right: 90px;*/
  /*padding-top: 200px;*/
  /*padding: 200px;*/
}
.headerBG {
	background-image: url("./img/harbor2.jpg");
  /*background-image: url("./img/Sailor's Background.png");*/

	background-repeat: no-repeat;
  background-size: cover;
	
}
.headerShadow {
	text-shadow: 5px 5px 10px dark;
}
.overlayDark {
  background-color: rgba(42, 27, 23, 0.4);
  padding: 160px;
  margin-top: 70px;
}

#insBlock {
 color: whitesmoke;
 font-size: 15px;
 padding-left: 30px;
 padding-right: 30px;
}
#insBlock a{
  color: whitesmoke;
}
#subTitle {
  margin-top: -50px;
}
.frameTop {
  background-image: url("./img/frameBarTop.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 70px;
  width: auto;
  z-index: 12;
  /*margin-top: 50px;*/
}
.frameBottom {
  background-image: url("./img/frameBarBottom.png");
  background-size: contain;
  background-repeat: repeat-x;
  height: 70px;
  width: auto;
  z-index: 12;
  border: none;
}
#headerbox {
  transition: all ease 1s;
}









/*Side bat*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /*float:  right;*/
  top: 0;
  right: 0;
  background-color: #1C1B18;
  /*overflow-x: n;*/
  transition: 0.5s;
  padding-top: 60px;
  /*border-left: 1px solid white;;*/

}
.sidenav a {
  /*padding: 8px 8px 8px 32px;*/
  text-decoration: none;
  font-size: 18px;
  /*font-family: Roboto;*/
  color: whitesmoke;
  display: block;
  transition: 0.3s;
  padding: 12px 10px;
  padding-left: 25px;
}
.sidenavBtn:hover {
/*  color: #f1f1f1;
  border-radius: 6px;
  cursor: pointer;
  -webkit-box-shadow:inset 0px 0px 0px 1px #FF3D3D;
  -moz-box-shadow:inset 0px 0px 0px 1px #FF3D3D;
  box-shadow:inset 0px 0px 0px 1px #FF3D3D;*/

  background-color: #ff3d3d;
  border: none;
  color: white;
  
  cursor: pointer;
  /*font-size: 14px;*/
  border-radius: 0.25rem;

}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#closeSideBar {
  display: none;
  /*text-shadow: 3px 3px 13px #1c1c1c;*/
}

#closeSideBar:hover,
#closeSideBar:focus {
  font-size: 40px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-top: -2;
  margin-left: -2;
}

#navBarIcon {
  /*box-shadow: 5px 10px #888888;*/
  /*border-radius: 0 0 300px 300px;*/
  /*box-shadow: 250 205 205px rgba(0, 0, 0, 0.8);*/
  /*float:right;*/
  position: fixed;
  right: 0;
  top:50px;
  font-size:25px;
  cursor:pointer;
  /*width: 40px;*/
  margin: 50px;
}
#navBarIcon img:hover {
  z-index: 4;
  width: 40px;
  height: 40px;
  margin-right: -5px;
  margin-top: -5px;
  transition: 0.3s;
}
#navInfo {
  padding: 8px 8px 8px 32px;
}











/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 88; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 88%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  transition: opacity 0.15s linear;

  padding-top: 70px;
  padding-bottom: 100px;
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 88; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 88%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.3); /* Black w/ opacity */
  transition: opacity 0.15s linear;
  padding-top: 70px;
  padding-bottom: 100px;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  background-color: #1C1B18;
  position: relative; /* Stay in place */
  box-sizing: border-box;
  color: #242424;
  margin: auto;
  padding: 20px;
  /*margin-bottom: 600px;*/
  /*border: 1px solid;*/
  width:45%;
  font-weight: 9000;
}
.modal-content2 {
  background-color: #fefefe;
  color: #242424;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width:55%;
  font-weight: 9000;
}
.modalWide {
  width: 60%;
}
/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: Roboto Th;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  font-size: 32px;
  margin-right: -2px;
  margin-top: -2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
#myModalDownload {
  padding-bottom: 200px;
}


/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  font-family: Roboto Th;
  transition: 0.3s;
}
.close2:hover,
.close2:focus {
  font-size: 32px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: -2px;
  margin-top: -2px;
}


/*Text Edits*/
.RemoveUnderline {
	text-decoration: none;
}
.textWhite {
	color:  pink;
}
.fontHeavy {
	font-weight:  bold;
}
.fontNormal {
  font-family: Roboto;
}
.fontDark {
  color: black;
}
.fontThin {
  font-weight: 100;
}



/*tabless*/
.whiteColor {
  color: white;
}
.bLink {
  color: black;
  text-decoration: none;
}
#myTable {
  color: whitesmoke;
  border-collapse: collapse;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #333333;
  transition: 0.3s;

 }
#myTable td, #myTable th {
  /*border: 1px solid #ff6969;*/
  text-align: left;
  padding: 5px;
}
#myTable th {
  background-color: #1C1B18;
}
#myTable tr:nth-child(even) {
  /*background-color: #F0F0F0;*/
  background-color: #262626;
  /*color: w;*/
}
#myTable tr:hover {
  /*background-color: #ff3d3d;*/
  border-radius: 3px;
  /*border: 2px solid #ff3d3d;*/
  -webkit-box-shadow:inset 0px 0px 0px 1px #ff3d3d;
  -moz-box-shadow:inset 0px 0px 0px 1px #ff3d3d;
  box-shadow:inset 0px 0px 0px 1px #ff3d3d;
/*  color: black;
  background-color: whitesmoke;
  border-radius: 1rem;*/
}

#myTable th:hover {
  /*background-color: #ff3d3d;*/
  border-radius: 0;
  border: none;
  cursor: pointer;
  /*font-family: Roboto TH;*/
}

#myInput {
  background-image: url('./img/search3.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}
#myInput:focus{
  background-image: url('./img/search2.png');
  outline: none;
  border-color: #ff3d3d;
 }
.paddingBottom {
  padding-bottom: 60px;
}


#blackSVG {
  fill:  black;
}

.container {
  color: whitesmoke;
}
.paginate_button{
  /*background-color: #FF3D3D;*/
  color: white;
  padding: 6px 6px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  font-size: 14px;
  /*border-radius: 0.15rem;*/
  font-family: Roboto Th;
  transition: 0.3s;
  border-bottom: 1px solid white;
/*  -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 0px 1px #fff;*/
}
.paginate_button:hover {
  background-color: #FF3D3D;
  border-bottom: none;
}
.dataTables_paginate {
  margin: 10px;
}
input {
  background-image: url('./img/search3.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  /*border: 1px solid none;*/
  margin-bottom: 12px;
  /*border-radius: 0.25rem;*/
}
input:hover {
  /*border: 1px solid #FF3D3D;*/
  -webkit-box-shadow:inset 0px 0px 0px 1.5px #FF3D3D;
  -moz-box-shadow:inset 0px 0px 0px 1.5px #FF3D3D;
  box-shadow:inset 0px 0px 0px 1.5px #FF3D3D;
}
input:focus {
}
#myTable_length {
  float: left;
  margin-bottom: 10px;
}

#myTable_info {
  margin-top: 10px;
  font-family: Roboto Th;
  float: left;
}
#myTable_paginate {
  float: right;
}


/*minor tools*/
.center {
  text-align: center;
  margin: auto;
  /*width: 50%;*/
}
.left {
  text-align:  left;
}
.right {
  text-align:  right;
}



/*Buttons*/
.btn {
  background-color: #ff3d3d;
  border: none;
  color: white;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.btn:hover {
  /*background-color: #fc6565;*/
  -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 0px 1px #fff;
  /*border: 1px solid white;*/*/
}
.btn2 {
  background-color: #ff3d3d;
  border: none;
  color: white;
  padding: 4px 19px;
  cursor: pointer;
  font-size: 14px;
  width: 40px;
  border-radius: 0.15rem;
  text-decoration: none;
  transition: 0.3s;
}
.btn2:hover {
  /*background-color: #fc6565;*/
  -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 0px 1px #fff;
  /*border: 1px solid white;*/*/
}
/*.btn2:focus {
  background-color: whitesmoke;
  color: #ff3d3d;
}*/
.btn-red-darker {
	background-color: #C81D3D;
}
.btn-red-darker:hover {
  /*background-color: #d13b57;*/
  /*border: 3px white;*/
}
.btn-pad-y {
	margin: 10px;
}
.btn-wide {
	width: 200px;
}
.btn-wide2 {
  padding-left: 40px;
  padding-right: 40px;
}



/*Span badge*/
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}









/*Feature*/
.featureBox {
	/*width: 75%;*/
	/*margin-top: 40%;*/
	
    padding: 1rem 0;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: stretch;
    justify-content: space-evenly;
}
.feature {
	flex: 3;
/*	border-top: 1px solid #eaecef;*/
    flex-basis: 30%;
    max-width: 48%;
    text-align: center;
    display: block;

}
.shadow {
/*  -moz-box-shadow:    3px 4px 4px 6px #0f0f0f;
  -webkit-box-shadow: 3px 4px 4px 6px #0f0f0f;
  box-shadow:         3px 4px 4px 6px #0f0f0f;
  border-radius: 10px;
  padding: 20px;*/
}


.bloomcolumn {
  float: left;
  width: 45%;
}
@media only screen and (max-width: 500px)  {
  .bloomcolumn {
    float: left;
    width: 100%;
  }
}
/* Clear floats after the columns */
.bloomrow:after {
  content: "";
  display: table;
  clear: both;
}
hr.bloomhr {
  border-top: 1px solid white;
}








/*Images*/
.imgFit {
	max-width:100%;
max-height:100%;
}
.imgFitBody {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
svg {
    fill: white;
    vertical-align: middle;
}
.svgIcon {
  height: 1rem;
  width: 1rem;
  vertical-align: middle;
}




.boxExpand {
  width:  60%;
  margin: auto;
}
.marginExpand {
  margin: 100px;
}
.greyBG {
  background-color: #f0f0f0;
  padding: 10px;
  padding-left: 30px;
}
.blackBG {
  background-color: #12110f;
  padding: 10px;
  padding-left: 30px;
}
.hiddenCode {
  display: none;
}




/*Border top*/
.borderTop {
  border-top: 0.5px solid white;
}
.borderBottom {
  border-bottom: 0.5px solid white;
}





.collapsible {
  background-color: none;
  /*color: white;*/
  cursor: pointer;
  /*padding: 18px;*/
  /*width: 100%;*/
  border: none;
  text-align: left;
  /*outline: none;*/
  font-size: 14px;
  font-family: Roboto;
}
.collapsibleInfoName {
    max-width: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.collapsibleInfo {
  font-size: 13px;
}
.active, .collapsible:hover {
  background-color: #FF3D3D;
  /*font-family: Roboto;*/
  padding: 5px;
  /*margin: 5px;*/
  /*float:left;*/
  width: 100%;
  color:  white;
}

.collapsibleContent {
  font-family: Roboto Th;
  font-weight: 200;
  font-size: 13px;
  padding: 0px 0px;
  display: none;
  overflow: hidden;

  /*background-color: #f1f1f1;*/
}





.imgAuQW {
  /*background-color: url("./img/grim.gif");*/
  border-radius: 50%;
}
.image-cropper {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}





.fade {
  /*margin: 50px;*/
  /*padding: 50px;*/
  /*background-color: lightgreen;*/
  opacity: 1;
}




.bodyBox {
  width: 60%;
}
#bodyThis h2 {
  font-family: Newborough;
  font-size: 32px;
}













@media (max-width: 500px) {
    h1 { 
      font-size: 3rem;
      text-align: center;
      margin-bottom: 50px;
    }
    .overlayDark {
      /*background-color: rgba(42, 27, 23, 0.4);*/
      padding: 40px;
      /*margin-top: 70px;*/
    }
    #subTitle {
      
    }
    .featureImage {
      width: auto;
      height: 30%;
      /*margin-bottom: -50px;*/
      margin-left: auto;
      margin-right: auto;
    }

}





.vertical-center {
  margin: 0 auto;
  width:100%;
  /*margin: 0;*/
  /*position: absolute;*/
  top: 50%;
  /*-ms-transform: translateY(-50%);*/
  /*transform: translateY(-50%);*/

}