@font-face {
    font-family: 'Beatrix Antiqua';
    src: url('./fonts/BeatrixAntiqua-Regular.woff2') format('woff2'),
        url('./fonts/BeatrixAntiqua-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Bold.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-BoldItalic.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Italic.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("./fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("./fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'BlackChancery';
    src: url('./fonts/BlackChancery.woff2') format('woff2'),
        url('./fonts/BlackChancery.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* Style the body */
body {
  font-family: "Roboto Condensed",Arial,sans-serif !important;
  margin: 0;
  /*background-color: #181818;*/
  background-color: #1C1B18;
}





h1 {
  font-size: 65px;
}

.h1 {
  font-size: 5rem;
  /*font-size:5vw;*/
  font-family: BlackChancery;
  /*margin-bottom: -20px;*/
  /*text-shadow: 3px 3px #1c1c1c;*/
  text-shadow: 3px 3px 13px #1c1c1c;
}
.sub {
  text-shadow: 3px 3px 13px #1c1c1c;
}

html {
  scroll-behavior: smooth;

}

img {
  object-fit: contain;
  max-height: :600px;
  max-width:548px;
}

/* Header/Logo Title */
.header {
  /*padding: 60px;*/
  text-align: center;
  /*background: white;*/
  color: white;
  font-size: 30px;
  /*color: #181818;*/
  font-family: BlackChancery;
  background-image: url("./bg/Sailor's Background.webp");

  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 70px;
}
.headerShadow {
  text-shadow: 5px 5px 10px dark;
}
.overlayDark {
  background-color: rgba(42, 27, 23, 0.5);
  padding: 70px;
  padding-bottom: 120px;
  background-size: cover;
  /*padding: 160px;*/
  margin-top: 70px;
}

.btn3 {
  background-color: #ff3d3d;
  border: none;
  color: white;
  padding: 15px 40px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-family: Roboto Condensed;
}
.btn3:hover {
  /*background-color: #fc6565;*/
  -webkit-box-shadow:inset 0px 0px 0px 1px #fff;
  -moz-box-shadow:inset 0px 0px 0px 1px #fff;
  box-shadow:inset 0px 0px 0px 1px #fff;
  /*border: 1px solid white;*/*/
}

.centerDiv {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  margin: auto;
  width: 800px;
  /*display: inline-block;*/
  font-family: Roboto Condensed;
}

.centerDiv2 {
  /*position: relative;*/
/*  margin: auto;
  width: 800px;*/
}

.center {
  margin: auto;
  width: 50%;
  /*border: 3px solid green;*/
  padding: 10px;
}

.border {
  border: 3px solid green;
}

.heightLow {
  height: 150px;
}

.heightMedium {
  height: 800px;
}

.colorWhite {
  color: white;
  font-size: 40px;
  margin-bottom: 50px;
}

.colorWhite2 {
  color: white;
}

.p_1 {
  margin-top: -50px;
  font-family: Roboto Condensed;
  font-size: 23px;
}

.button {
  background-color: #181818;
  color: white;
  border: 0;
  outline: 0;
  padding: 1rem 2rem;
  font-size: 16px;
  font-family: Roboto Condensed;
  /*box-shadow: 0px 5px 10px #232323;*/
  transition: all 0.3s;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 4px solid #181818;
}
.button:hover {
  /*box-shadow: 0px 10px 15px -5px white;*/
  transform: scale(1.03);
}
.button:active {
  /*box-shadow: 0px 4px 8px white;*/
  background-color: #d9d9d9;
  border-bottom: 4px solid #d9d9d9;
  color: white;
  transform: scale(0.98);
}

.btn2 {
  padding: 0.5rem 2rem;
  margin-bottom: 0.5em; 
  /*width: 8em;*/
}

/*Modal box*/
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 9999999999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}



/*Design Notes */

.headH1 {
  color: #232323;
  font-size: 36px;
  margin-top: -5px;
  margin-left: 37px;
  margin-bottom: 40px;
}

.dnBox {
  background-position: center;
  background-repeat: repeat-y;
  background-size: 100%;
  background-image: url("./bg/parchment_body2.webp");
  padding: 0.1px 0px;
  width: 800px;
}

#box-header {
  margin: 10px 0 0 0;
}
.dnHeader {
  /*object-fit: fill;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./bg/parchment_header2.webp");
}
.headboxfix {
  border:  none;
  margin-top: -1px;
  margin-bottom: -1px;
  
}

.dnFooter {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./bg/parchment_footer2.webp");
}

.content-width {
  /*width: 2800px;*/
}


.grid-container {
  display: flex;
  flex-direction: column;

}
.flex-content{
  flex: 1;
}


#photo {
  display: inline-block;
  /*padding-right: 8px;*/
  /*padding-bottom: -65px;*/
}

#content-box-center {
  /*padding-top: 75px;*/
  padding: -20px;
  /*bottom: 40px;*/
}

/*Design notes Contents*/
.above {
  position: relative;

  padding-left: 40px;
  padding-top: 10px;
  margin-top: -40px;
  color: #333;
  font-family: Roboto Condensed;
  font-weight: 300;
  font-size: 36px;
}

.above div {
    clear: none; 
    flex: 1;
}


.profile {
  margin-left: -10px;
    z-index: 99;
}



.Content {
  width: 550px;
  padding: 15px;
  margin-left: -10px;
  margin-top: 0px;
  border-radius: 10px;

  background-color: #FEF8E2;
}

.grid-container {
    display: grid;
    /*grid-template-columns: 1fr 1fr;*/
    grid-template-columns: auto auto auto auto;
    grid-gap: 0px;
}


#myBtn {

}
/*Box elements*/
.profileBox {

  /*background-image: url("./pfp/Kaosreepjou.webp");*/

  /*background-position: center;*/
  /*background-image: url("./bg/profile_box.webp");*/
  /*object-fit: contain;*/
  background-color: transparent;
  /*border: transparent;*/
  top: 0;
  /*display: absolute;*/

  margin-left: -7px;
  /*margin-bottom: 5px;*/
  margin-top: -27px;
  height: 8.5em;
  width:8.5em;
  border: none;
  padding: none;
}
.overlaySquare {
  background-image: url("./bg/Forest1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #232323;
  border-radius: 1rem;
  height: 2.5em;
  z-index: -190;
  width:3em;
  margin-top: 0.5em;
  margin-bottom: 0.4em;
  margin-left: 0.2em;
  /*display: block;*/

}
.

.profileBox img {
  /*margin-top:  -0.25em;*/
  /*border: 1px solid green;*/
  /*height: 8.5em;*/
  /*height: auto;*/
/*  width:8.1em;*/

  /*margin-left: 12px;*/
  object-fit: contain;
  bottom: -100px;
}

.profileBox img:hover {

}



#inputName {
  font-family: Beatrix Antiqua;
  font-size: 16px;
  font-weight: 700px;
  width: 120px;
  /*margin: -5px 21px;*/
  margin-left: 0.3em;
  /*margin-right: 21px;*/
  margin-top: -7px;
  text-align: center;
}

#inputTitle {
  border: 0px;
  color: #222 !important;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  /*text-decoration-thickness: 2px;*/
  text-decoration-style:  solid;
  /*border-bottom: 10px solid black;*/
  margin: 0px;
}

#inputDate {
  border: 0px;
  color: #333 !important;
  font-size: 12px;
  font-weight: 700;
  margin: 0px;
}

#inputSubTitle {
  border: 0px;
  color: #900 !important;
  font-size: 18px;
  font-weight: 700;
  margin: 0px;
}

#inputContent {
  border: 0px;
  color: #333 !important;
  font-size: 16px;
  font-weight: normal;
  margin: 0px;
  line-height: 1.6;
  width: 550px;
}




.parent {
  position: relative;
  top: 0;
  left: 0;
}

.image2 {
  /*border: 1px green solid;*/
  position: absolute;
  object-position: left right bottom;
  right: : 0;
  left: 20px;
  bottom: : 0;
  /*top: 0;*/
  
  width: 120px;
  /*margin-bottom: : -50px;*/
}


/*Break lines*/
.brnone {
  display: block;
  margin-bottom: 0em;
}

.brmedium {
  display: block;
  margin-bottom: 5em;
}

.brlarge {
  display: block;
  margin-bottom: 2em;
}





.image1 {
  position:relative;
  /*top: 0;*/
  left: 0;
  bottom: 0;
  /*object-fit: cover;*/
  /*margin: auto;*/
  width: 100%;
  height: 100%; 
  object-fit: contain;
  /*border: 3px solid black;*/
  /*border-radius: 1rem;*/
  /*border: 1px red solid;*/
}



.image1:hover {
  /*box-shadow: 0px 10px 15px -5px white;*/
  transform: scale(1.03);
}
.image1:active {
  /*box-shadow: 0px 4px 8px white;*/
  /*color: white;*/
  /*background: rgba(39,62,84,0.82);*/
  transform: scale(0.98);
}








/*Try*/
/*.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.575rem 2.95rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/